<!-- account/templates/index.html -->

{% extends "base.html" %}
{% block title %}User Information{% endblock %}

{% block content %}
    <div>
        <h1>Your user account</h1>

        <div>
            Welcome to your account!
        </div>
        <div>
            What do you want to do?
        </div>
        <div>
            <a href = "">Login</a>
            <a href = "">Register</a>
        </div>
    </div>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{{ url_for('account.static', filename='css/styles.css') }}" >
{% endblock %}
